@model IntuitSampleMVC.Models.PreLogin
@{
    ViewBag.Title = "PreLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h1>Sign In</h1>
    @using (Html.BeginForm("Pre2LogOn", "IBSAccount"))
    {
        <p>
            Don't have an account?
            <a data-event="Start Free Trial" href="/signup?type=business">Start your free trial now</a>
            <br>
            Enter your
            <span style="font-family: 'helvetica-neue-75', Helvetica, Arial, sans-serif">IBS</span>.
        </p>
        <div class="site">
           @Html.LabelFor(m => m.Companyname);
            @Html.TextBoxFor(m => m.Companyname);
           
        </div>
        <div class="error_message" id="domain_error_message"></div>
    <div>
        <input type="submit"  value="Continue to my Sign-in Page" id="submit_button">
        <p>
            Don't remember your TSheets web address?
            <a data-event="Find My Team" href="javascript:void(0)" onclick="xajax_window_submit('team_login', xajax.getFormValues('login_form'), 'find_my_team'); return false;">Find my address</a>
        </p>       

    </div>
    }