@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>UnderLaw</title>
</head>
<body>
    <div>
        @if (ViewBag.flag == 1)
        {
            <p>privacy polocy is under construction</p>
        }
        else
        {
            <p>end user licence is under construction</p>
        }
    </div>
</body>
</html>
