@{
    ViewBag.Title = "Welcome to Intuit Anywhere";
    string realm = (string)Session["realm"];
}
<section>
    @if (!WebSecurity.HasUserId)
    {
        <span>
            <h5>One-Click Invoices Generate And Upload</h5>
        </span>
        @Html.ActionLink("Try For Free", "SignUP", "IBSAccount")              
                
        <h5>No credit card required.</h5>   
        @Html.ActionLink("Sign IN", "PreLogin", "IBSAccount") 
    }

</section>