@{
    ViewBag.Title = "About";
}

<table width="1004" border="0" cellpadding="0" cellspacing="0" class="bg-white">
    <tbody>
        <tr>
            <td width="1004" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr class="r1">
                            <td width="152"><img src="~/Content/images/about-us.gif" alt="ibs" width="152" height="101"></td>
                            <td width="852">&nbsp;&nbsp;&nbsp;<img src="~/Content/images/about-us-img.gif" alt="ibs" width="210" height="34"></td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="top">
                                <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td valign="top">
                                                <table width="95%" align="center" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="bodytext">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytext">
                                                                <h3>About Us </h3>
                                                                <p>Intellect Business Solutions is a focused, global and innovative provider of IT services. We provide cost-effective and high quality IT services with a complementary balance of senior IT management, strategy consultants, seasoned IT solutions architects/project managers and qualified software engineers. </p>                      <p align="justify">Intellect Business Solutions creates superior customized systems and processes, through a continuous expression of human imagination, to deliver end-to-end software solutions and services that are closely integrated with the businesses of our clients. </p>
                                                                <p align="justify">Our comprehensive range of services encompasses the whole spectrum - partnering for IT implementations and managing start-to-finish projects. Our clients include large multi-nationals, mid-range corporations and small firms. Our clients enjoy working with us for the simple reason that we exceed their expectations. We make this happen because we believe, encapsulated in a nutshell, Problems are limited - Solutions unlimited.</p>
                                                                <p align="justify">
                                                                    Headquartered in Irving, TX., USA, Intellect Business Solutions is a focused, global and innovative Product Engineering and IT Solutions provider company .For the past several years, IBS has been providing high quality IT Solutions to the clients including consulting and software development services. Along with the IT services, IBS is currently establishing itself into the Software Product Engineering market. As part of this, we are developing a comprehensive set of software products and consulting resources that enable you to design, build, operate, and govern a cloud that meets the needs of different business domains. We believe with the past experience and the best practices we follow, allows to deliver high quality software products. <br><br>
                                                                    We are committed to our brand "Add Intellect to your business".
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr><td>&nbsp;</td></tr>
                                                        <tr>
                                                            <td class="bodytext"><h3>Mission</h3></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytext"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytext">Our mission is to be the number one choice of companies seeking business and technology solutions, and to deliver, reinforce, and maintain our passionate commitment to our clients' success through providing cutting-edge technologies, quality, reliable and cost-effective solutions.<p></p></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytext"><h3>Vision</h3></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytext"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytext">
                                                                To become a globally respected corporation that prvoides complete spectrum  of technology solutions and services.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="bodytext">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="20" align="center" valign="middle" class="bg-blue"><span class="copyright-text">All rights reserved by <strong>Intellect Business Solutions</strong>, LLC.</span></td>
        </tr>

    </tbody>
</table>

